.c-user-menu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 16rem;
  background: var(--neutral-100);
  border: 1px solid var(--primary-low);
  border-radius: var(--rounded-lg);

  a {
    color: var(--neutral-10);
    transition: color 0.15s ease;
  }

  &__profile {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background: var(--primary-very-low);

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-name {
      display: flex;
      flex-direction: column;
      line-height: 1.2;

      @include body-small;

      span:first-child {
        font-weight: 600;
        color: var(--primary-high);
        
        @include body-large;
      }

      span:nth-child(2) {
        color: var(--primary-medium);
        font-weight: 400;
        
        &::before {
          content: "@";
        }
      }
    }

    .c-user-menu__profile-cta {
      color: var(--tertiary);
      font-weight: 500;
      transition: color 0.15s ease;
    }

    &:hover {
      .c-user-menu__profile-cta {
        text-decoration: underline;
        color: var(--tertiary-hover);
      }
    }

    &-cta {
      color: var(--primary-medium);
      font-weight: 400;

      @include body-small;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      transition: background-color 0.15s ease;

      @include body-medium;

      &:hover {
        background: var(--primary-very-low);
      }

      a {
        display: flex;
        flex: 1;
        gap: 1rem;
        align-items: center;
        padding: 0.75rem 1rem;
        transition: color 0.15s ease;
        
        &:hover {
          color: var(--tertiary);
        }

        .d-icon {
          color: var(--primary-medium);
          transition: color 0.15s ease;
        }

        &:hover .d-icon {
          color: var(--tertiary);
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 0;
    padding: 1rem;
    list-style: none;
    border-top: 1px solid var(--primary-low);

    @include label-small;

    a {
      color: var(--primary-medium);
      font-weight: 400;
      transition: color 0.15s ease;
      
      &:hover {
        color: var(--tertiary);
        text-decoration: underline;
      }
    }
  }
}

// Простые аватары
.avatar {
  border-radius: var(--rounded-full);
  transition: opacity 0.15s ease;
  
  &:hover {
    opacity: 0.9;
  }
}
