.block-online {
  --w: span 1;
  --l: span 1;
  --fd: column;
  --ai: center;
  --jc: center;
  position: relative;
  overflow: hidden;

  .number {
    color: var(--tertiary);
    font-weight: 700;
    position: relative;

    @include title-large;
  }

  span {
    color: var(--primary-medium);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0.25rem;

    @include body-small;
  }
}
